<section>
    <article>
        <video id="video" src="https://drive.google.com/uc?export=download&id=1J_Y4xY_FGItfFan4xu0GBo1w73WYqxFT" loop autoplay playsinlinemuted></video>
    </article>
</section>