<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turing IA</title>
    <link rel="stylesheet" href="css/homestyle.css" />
</head>
<body>
    <div class="modal">
        <div>
            <button class="closemodal">X</button>  
            <ul class="modallist">
                <li><a><span>what we do</span></a></li>
                <li><a><span>who we are</span></a></li>
                <li><a><span>insights</span></a></li>
                <li><a><span>careers</span></a></li>   
                <li><a><button class="letstalk">let´s talk</button></a></li>
                <li><a><button><img src="images/lupa.png" width="20" height="20" /></button></a></li>
                <li><a><button class="leng">english</button></a></li>
            </ul>
        </div>
    </div>
    <section class="top-bar">
        <video class="video" src="https://drive.google.com/uc?export=download&id=1J_Y4xY_FGItfFan4xu0GBo1w73WYqxFT" loop autoplay muted playsinline></video>
        <nav class="navbar">
            <div class="logo-container">
                <a href="/" title="TURING-IA">
                    <h1 class="logo">TURING-IA</h1>
                </a>
            </div>
            <div class="list1">
                <div>
                    <ul class="toplist">
                        <li><a><button class="letstalk">let´s talk</button></a></li>
                        <li><a><button><img src="images/lupa.png" width="20" height="20" /></button></a></li>
                        <li><a><button class="leng">english</button></a></li>
                    </ul>
                </div>
                <div>
                    <ul class="bottomlist">
                        <li><a><span>what we do</span></a></li>
                        <li><a><span>who we are</span></a></li>
                        <li><a><span>insights</span></a></li>
                        <li><a><span>careers</span></a></li>
                    </ul>
                </div>
            </div>

            <button class="menu">
                <span></span>
                <span></span>
                <span></span>
            </button>

            <h1 class="title">Building better tomorrows</h1>
        </nav>
    </section>
    <script src="js/homestyle.js"></script>
</body>
</html>