<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turing IA</title>
    <link rel="stylesheet" href="css/homestyle.css" />
</head>
<body>
    <section class="top-bar">
        <video class="video" src="https://drive.google.com/uc?export=download&id=1J_Y4xY_FGItfFan4xu0GBo1w73WYqxFT" loop autoplay muted playsinline></video>
        <nav class="navbar">
            <div class="logo-container">
                <a href="/" title="TURING-IA">
                    <h1 class="logo">TURING-IA</h1>
                </a>
            </div>
            <div class="list1">
                <div>
                    <ul class="bottomlist">
                        <% if(!user?.nombre) { %> 
                            <li><a href="/login"><span>Login</span></a></li> 
                            <li><a href="/register"><span>Register</span></a></li>
                        <% } else { %> 
                        <li><a href="#" onclick="logout()"><span>Logout</span></a></li>
                        <li><a href="/edit"><span>Edit user</span></a></li>
                        <li><a href="/users"><span>Show users</span></a></li>
                        <% } %>
                    </ul>
                </div>
            </div>

            <button class="menu">
                <span></span>
                <span></span>
                <span></span>
            </button>

            <h1 class="title"><%= user?.nombre === undefined ? 'Inicie sesion' : 'welcome ' + user?.nombre %></h1>
        </nav>
    </section>
    <script src="js/logout.js"></script>
</body>
</html>