form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: transparent;
}

input {
    width: 29rem;
    height: 2.5rem;
}

.form-container {
    background: #ffffff20;
    height: 45rem;
    display: flex;
    width: 36rem;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.button {
    background: transparent;
    color: #000000;
    font-size: 18px;
    border-radius: 10px;
}

.button:hover {
    background: #ffffff;
    color: #000000;
    font-size: 18px;
}

.text {
    font-size: 1rem;
    border-radius: 5px;
}

.container {
    display: flex;
    justify-content: center;
}